<h2>グラフを表示</h2>

<%= high_chart("agraph", @bar_chart) %>
<body>

<p>
  最小値：<%= @mini %>
</p>
<p>
  第一四分位値：<%= @Q1 %>
</p>
<p>
  中央値：<%= @tyuou %>
</p>

<p>
  第三四分位値：<%= @Q3 %>
</p>
<p>
  最大値：<%= @maxx %>
</p>
<p>
  四分位偏差：<%= (@Q3 - @Q1)/2.0 %>
</p>

  <%= high_chart("sort_chart", @sort_chart) %>
 <%= high_chart("box_chart", @box_chart) %>
 <p>
  平均：<%= @average %>
</p>
<p>
  分散：<%= @dispersion %>
</p>
<p>
  標準偏差：<%= @deviation %>
</p>


  <%= high_chart("average_double_chart", @average_double_chart) %>
  <%= high_chart("average_chart", @average_chart) %>
<p>
  中央値：<%= @tyuou %>
</p>
  
  <%= high_chart("medium_double_chart", @medium_double_chart) %>
<%= high_chart("medium_chart", @medium_chart) %>


<%= link_to'タイトルに戻る',bars_path %>
